<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<div>
    {{appTitle}}
    <button class="btn btn-primary" routerLink="/newTask">new task</button>
</div>
</body>
</html>