<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
</head>
<body>
<div>
    <form [formGroup]="checkoutForm" (ngSubmit)="createTask(checkoutForm.value)">
        <div class="form-group col-md-4">
            <label for="task-name">שם משימה</label>
            <input formControlName="name" type="text" class="form-control" id="task-name"
                   placeholder="שם משימה">
        </div>
        <div class="form-group col-md-4">
            <label for="task-desc">תיאור</label>
            <input formControlName="details" type="text" class="form-control" id="task-desc"
                   placeholder="תיאור משימה">
        </div>
        <div class="form-group col-md-4">
            <label for="start-address">כתובת התחלה</label>
            <input formControlName="source_address" type="text" class="form-control" id="start-address"
                   placeholder="כתובת התחלה">
        </div>
        <div class="form-group col-md-4">
            <label for="end-address">כתובת סיום</label>
            <input formControlName="destination_adrress" type="text" class="form-control" id="end-address"
                   placeholder="כתובת סיום">
        </div>
        <div class="form-group col-md-4">
            <label for="categories">קטגוריות</label>
            <select formControlName="group_id" id="categories" class="form-control">
                <option *ngFor="let category of categories">{{category}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="areas">אזור בארץ</label>
            <select formControlName="area_id" id="areas" class="form-control">
                <option *ngFor="let area of areas">{{area}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="contact-name">שם איש קשר</label>
            <input formControlName="first_contact_name" type="text" class="form-control" id="contact-name"
                   placeholder="שם איש קשר">
        </div>
        <div class="form-group col-md-4">
            <label for="contact-phone">טלפון איש קשר</label>
            <input formControlName="first_contact_phone" type="text" class="form-control" id="contact-phone"
                   placeholder="טלפון איש קשר">
        </div>
        <button type="submit" class="btn btn-primary">צור משימה</button>
    </form>
</div>
</body>
</html>